@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body{
  font-family: "Lato", sans-serif;
}

.mainContainer{
  display: grid;
  grid-row-gap: 2vh;
  padding: 1vh 1vw 1vh 1vw;

}

.row1{
  height:80vh;
  background-image: url("b1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;

}

.title{
  display:flex;
  color:white;
  font-size:2vw;
  font-weight:500;

}

.man{
  display:flex;
  border: solid;
  border-width: .1vw;
  width: 15vw;
  height:12vh;
  justify-content: center;
  align-items: center;
}

.row2{
  height:80vh;
  background-image: url("b2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}

.row3{
  height:80vh;
  background-image: url("b3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color:white;
}
