@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body{
  font-family: "Lato", sans-serif;
  margin: 0;
  padding:0;
}

.mainContainer{
  grid-row-gap: 2vh;
  display:grid;
  padding: 4vh 2vw 6vh 2vw;
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  padding: 3vh 1.6vw 0vh 3vw;
  height: 8vh;
  font-size: 1.1vw;
  font-weight: 900;
}

.navbar2{
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  padding: 2vh 2vw 0vh 2vw;
  height: 8vh;
  font-size: 1.1vw;
  font-weight: 900;
}

.navbar2 a:hover{
    opacity: .5;
    transition: .5s;
}

.navbar a:hover{
    opacity: .5;
    transition: .5s
}

.realleft a{
    color:black;
    float:left;
}

.right a {
  color:black;
  padding: 1vw;
}



#row1{
  height:80vh;
  background-image: url("b1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}

#title{
  display:flex;
  color:white;
  font-size:2vw;
  font-weight:500;

}

#title:hover{
  color:black;
  background-color: #D3D3D3;
  transition:1s;

}

#title:hover .man{
  border: none;

}

.man{
  display:flex;
  border: solid;
  border-width: .1vw;
  width: 15vw;
  height:12vh;
  justify-content: center;
  align-items: center;
}

.row2{
  height:80vh;
  background-image: url("b2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}

.row3{
  height:80vh;
  background-image: url("imgs/portraits/b3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color:white;
}


.portraitContainer{
  display:grid;
  grid-template-rows: 5vh auto;
}


.imageContainer{
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  justify-items: center;
  grid-row-gap: 3vh;
  grid-column-gap:.5vw;
  padding: 5vh 10vw 6vh 10vw;

}

img{
  width:26vw;
}


a{
  text-decoration: none;
  color:white;
}

.portraitPage{
  background-color: #eee;
}

.names{
  height:10vh;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 8vh;
  padding: 8vh 0vw 0vh 0vw ;
}

.names a{
  text-decoration: none;
  color:black;
}

.names a:hover{
  opacity: .5;
  transition: .5s
}

.actual{
  padding: 0vh 1.5vw 0vh 1.5vw;
  color: black;
}


form{
	margin-top: 50px;
	transform: all 4s ease-in-out;
	text-align: center;

}

.form-control {
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: black;
	font-size: 20px;
	margin-bottom: 16px;
	font-family: 'Lato', sans-serif;

}

input {
	height: 45px;
}

form .submit {
	background: black;
	border-color: transparent;
	color: white;
	font-size: 20px;
	-webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

form .submit:hover{
	color: gray;
}


.mainTwo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 5vh 13vw 3vh 13vw;

}

#rightside{
  height:55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("back.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#changing{
  font-size: 5.3vw;
  color:yellow;;

}

.leftside{
  height: 50vh;
  display:flex;
  align-items:center;
  justify-content: center;
  font-size: 5vw;
  padding-right: 10vw;

}

.photo{
  align-items: center;
  display:flex;
  justify-content: center;
}

.photo img{
  width:30vw;
}
